@import "../global";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap Overrides
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Pages
@import 'pages/dashboard';

body{
    font-size: 1.25rem;
    background: $bg-color;
    color: $font-color;
    overflow: auto;
}

.container-fluid{
    position: absolute;
    top: 0;
    pointer-events:none;
}

.container-fluid *{
    pointer-events: auto;
}

.navbar-dark{
    z-index: 3;
}

.navbar-dark .navbar-toggler:focus{
    border: 1px solid $focus-border-color !important;
    outline: $focus-border-color !important;
}

.navbar-dark .navbar-nav .nav-link{
    color: $font-color;
}

.navbar-dark .navbar-nav .nav-link.active{
     color: $font-focus-color;
 }

.navbar-dark .navbar-nav .nav-link:hover{
    color: $font-hover-color !important;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
}

.fullscreen-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.homeText{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: $font-hover-color;
    z-index: -1;
}

.homeText .row{
    height: 100vh;
}

.homeText .col{
    z-index: 2;
}

#projects{
    margin-top: 100vh;
    border-top: 1px solid $font-primary-color;
    min-height: 100vh;
}

.content-sections{
    background: $bg-secondary-color;
    min-height: 100vh;
    z-index: 3;
}

.content-sections:last-child{
    margin-bottom: 50vh;
    border-bottom: 1px solid $font-primary-color;
}

.project{
    width: 300px;
    height: 300px;
    background: $bg-color;
}

input, textarea{
    background-color: $bg-color !important;
    color: $font-color !important;
    border-color: $font-color !important;
}

input:focus, textarea:focus{
    border-color: $font-hover-color !important;
    outline: none;
}

footer{
    position: fixed;
    width: 100%;
    height: 50vh;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $bg-color;
    display: none;
}
