// Bootstrap Overrides
@import 'variables';

.fullscreen-bg {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
}

.fullscreen-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.homeText{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    color: $font-hover-color;
    z-index: -2;
}

.homeText .row{
    height: 100vh;
}

.homeText .col{
    z-index: 2;
}

.poly-background{
    canvas{
        position: fixed;
        display: none;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.page-content{
    position: relative;
    margin: 100vh 0 50vh 0;
}

#about{
    position: relative;
    background-color: white;
    box-shadow: 0px 3px 15px black;
}

#projects{
    //border-top: 1px solid $font-primary-color;
    position: relative;
    margin-top: -150px;
    padding: 150px 0 150px 0;
}

#career{
    background-color: white;
    box-shadow: 0px 3px 15px black;
}

.content-sections{
    //background: $bg-secondary-color;
    min-height: 95vh;
    z-index: 3;
    //background-color: $bg-color;

}

.content-sections:last-child{
    //border-bottom: 1px solid $font-primary-color;
}

.projects{
    margin: 0;
    padding: 0;
    width: 100%;
}

.project-bg{
    width: 300px;
    height: 300px;
    //display:block;
    //overflow:hidden;
}

.row-overlap{
    position: relative;
    //margin-top: -75px;
    transform:translateY(-50%);
    z-index: 4;
    .row-overlap-child{
        border-radius: 5px;
        background-color: white;
        box-shadow: 0px 1px 27px -3px rgba(0,0,0,0.2);
    }

    .row-overlap-child-counter{
        height: 250px;
    }
}

