@import "../global";

// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";


// Fix mobile footer
.app-footer {
    flex: 0 0;
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
}

.tab-content{
    background: $breadcrumb-bg;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover{
    color: $nav-tabs-link-active-color;
    //background-color: $nav-tabs-link-active-bg;
    background: $nav-tabs-link-active-bg;
    border-color: #23282c #23282c #23282c;
}

.nav-tabs .nav-link:hover{
    border-color: #23282c #23282c #23282c;
}

.sidebar .nav-dropdown.open .nav-link{
    background: none;
}

.sidebar .nav-dropdown.open .nav-link:hover {
    color: $body-color;
    background: $card-cap-bg;
}

.sidebar .nav-dropdown.open .nav-link.active{
    color: $body-color;
    background: $card-cap-bg;
}

.sidebar .nav-dropdown.open .nav-dropdown-toggle.active{
    background: none;
}
.sidebar .nav-dropdown.open .nav-dropdown-toggle.active:hover{
    color: $body-color;
    background: $card-cap-bg;
}

.swal2-popup {
    background: $breadcrumb-bg !important;
    .swal2-title{
        color: $body-color !important;
    }
}
.form-control, .form-control:focus{
    border: 1px solid $border-color;
    background-color: $form-input-background;
    color: $body-color;
}

.page-link{
    color: $page-link-color !important;
    background-color: $card-cap-bg !important;
    border: 1px solid $border-color !important;
}
.page-link:hover{
    color: $page-link-hover-color !important;
    background-color: $body-bg !important;
    border-color: $border-color !important;
}

.page-item.disabled .page-link{
    color: $disabled-page-link-bg !important;
    background-color: $border-color !important;
    border-color: $border-color !important;
}
