@import '../variables';

$carousel-height: 500px;
$mobile-carousel-height: 200px;
$medium-carousel-height: 300px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

.carousel{
    height: $carousel-height;
    .carousel-item{
        img{
            height: $carousel-height;
            margin: auto;
        }
    }
}

@media screen and (max-width: $break-medium) {
    .carousel{
        height: $medium-carousel-height;
        .carousel-item{
            img{
                height: $medium-carousel-height;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: $break-small) {
    .carousel{
        height: $mobile-carousel-height;
        .carousel-item{
            img{
                height: $mobile-carousel-height;
                margin: auto;
            }
        }
    }
}

.sm-icons{
    color: $font-color;
}

.sm-icons:hover{
    color: $font-hover-color;
}

.color-divider{
    border-top: 1px solid rgba(212, 167, 0, .5);
}

pre{
    background-color: rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 10px;
    color: $font-hover-color !important;
}
